.main
{
    visibility: hidden;
}

#startOverlay .modal-body > select
{
    float: left;
    margin-right: 1em;
}

#startOverlay .modal-body > select + *
{
    clear: left;
}

#startOverlay .modal-body > input:checked ~ select
{
    pointer-events: none;
    color: graytext;
}

#predefSize {
    width: 10%;
}

#startOverlay .modal-body input:checked ~ div.customOptions
{
    visibility: visible;
}

.customOptions
{
    visibility: hidden;
}

.sizeError
{
    visibility: hidden;
    color: crimson;
}

#fieldMain {
    margin-top: 10vh;
}

.card{
    cursor: pointer;
    /* width: 12vw; */
    height: 24vh;
    margin: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card-cover-top {
    width: 100%;
    max-height: 80%;
}

.card-bg {
    background: #000;
}

.card.paired
{
    pointer-events: none;
    background-color: rgba(8,241,12,1.0);
}

.card.closed
{
    background-color: rgba(0,0,0,0.8);
}

.card.closed > .card-bg
{
    opacity: 1.0;
}

.card.opened > .card-bg
{
    opacity: 0.0;
}

.timerWrap
{
    position: absolute;
    top: 2vh;
    right: 2vh;
}